<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

<h1>FORTUNE TEELLER </h1>
<p>(-__-)This is a magical place where your destiny awaits(-___-)</p>
<a href=/fortune2>fortune page</a>
<p><a href="/indecisive">Show me an indecisive fortune</a></p>
<form action="/home" method="post">
	<input type="text" name="birthday" placeholder="WHATS YOUR BIRTH MONTH">
	<p><a href="/fortune_telling/fortune">Tell me my fortune</a></p>
	<input type="submit" name="submit">


</form>

</body>
</html>
