
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h2>Sign Up</h2>
    <form method="POST" action="/signup">
        <input type="email" name="email" placeholder="Email" ><br><br>
        <input type="password" name="password" placeholder="Password (at least 6 characters)" ><br><br>
        <input type="fullname" name="fullname" placeholder="Full_Name" ><br><br>
        <input type="Username" name="Username" placeholder="Username" ><br><br>
        
        <input type="submit" value="Sign Up">
    </form>
    <a href="/signin">Already have an account? Sign in here.</a>
</body>
</html>
