<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>
			You will find money in the pocket of a coat you haven't worn in years.",
"Your car will magically avoid potholes today.",
"You will discover the secret to perfect microwave popcorn.",
"A typo in your favor will lead to an amusing email exchange.",
"You'll impress everyone with your flawless dance moves at an unexpected event.",
"A bird will mistake you for a Disney princess and serenade you.",
"Your pet will learn a new trick that will leave you in stitches.",
"You will accidentally match outfits with a stranger and become temporary best friends.",
"You'll find the last slice of pizza hidden in the fridge, untouched and waiting for you.",
"Your phone will autocorrect a serious message into a hilarious meme, and everyone will love it.
	</h1>

</body>
</html>